@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
}

.custom_container {
  max-width: 1140px !important;
}

.h_mobile {
  height: calc(100vh - 60px);
}

/* ========== HEADER CSS ============= */
.aboutus_bg {
  background-image: url("./assets/images/png/aboutus_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero_first_bg {
  background-image: url("./assets/images/png/hero_first_bg.png");
  background-repeat: no-repeat;
  background-size: 101% 101%;
  background-position: center;
}

.form_bg {
  background-image: url("./assets/images/png/form_bg_img.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}



/* ===========HORIZONTAL ROADMAP CSS======== */
.roadmap_cards:hover .roadmap_heading {
  background-color: #3c278dc2;
  padding: 10px;
  color: white !important;
}

.roadmap_cards:hover .roadmap_para {
  background-color: rgba(30, 30, 30, 0.07);
  padding: 10px;
}

/* ===========HORIZONTAL ROADMAP CSS END HERE======== */


/* =======TIMELINE ==== */
.timeline {
  width: 100%;
}

.timeline-item {
  border-left: 2px solid #4299e1;
  padding: 20px;
  margin: 20px 0;
  position: relative;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: #4299e1;
    transform: scale(1.02);
  }
}

.timeline-content {
  margin-left: 2rem;
}

/* ============== */
html {
  scroll-behavior: smooth;
}

/* css slider */

.marquee {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 30px;
  content: "";
  z-index: 1;
}

.marquee__content {
  width: 850% !important;
  display: flex;
  line-height: 30px;
  -webkit-animation: marquee 15s linear infinite forwards;
  animation: marquee 15s linear infinite forwards;
}

.list-inline {
  display: flex;
  justify-content: space-around;
  width: 33.33%;
  /* reset list */
  list-style: none;
  padding: 0;
  margin: 0;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-66.6%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-66.6%);
  }
}

@media (max-width:767.98px) {
  .overflow_hidden {
    overflow: hidden;
  }

  .height_open_nav {
    height: calc(100vh - -80px);
  }

  .width_height_open_nav {
    height: calc(100vh - -80px);
    width: 100%;
  }

}

@media (min-width:399.98px) {
  .marquee__content {
    width: 700% !important;
  }
}

@media (min-width:575.98px) {
  .marquee__content {
    width: 560% !important;
  }
}
@media (min-width:767.98px) {
  .marquee__content {
    width: 390% !important;
  }
}
@media (min-width:991.98px) {
  .marquee__content {
    width: 320% !important;
  }
}
@media (min-width:1199.98px) {
  .marquee__content {
    width: 260% !important;
  }
}
@media (min-width:1441.98px) {
  .marquee__content {
    width: 200% !important;
  }
}