.h_mobile{
    height: calc(100vh - 60px);
}
/* mobile nav  */
/* .animated-content {
  transition: transform 0.5s;
  transform: translateX(-100%);
}

.slide-in {
  transform: translateX(0);
}
button span {
  font-size: 20px;
  line-height: 1;
  padding: 0;
  margin: 0;
} */